<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/others/favicon.ico">
    <link rel="stylesheet" href="../static/styles/answers.css">

    <meta property="og:type" content="site">
    <meta property="og:title" content="Kahboom!">
    <meta property="og:description" content="Enjoy the free and simple-to-use Kahoot cheat called Kahboom! Just click on the link and begin now to cheat in Kahoot!">
    <meta property="og:url" content="https://kahboom.tk">
    <meta property="og:image" content="../static/others/logo.png">

    <title>Kahboom!</title>
</head>
<body>

    <div class="titleContainer">
        <p>Kahboom!</p>
        <p>Here are your answers:</p>
    </div>

    <div class="answersContainer">
        {% block content %}
            {% for answer in answers %}
            <div class="answer">
                <p>Question Number: {{answer.number}}</p>
                <p>Correct Answer: {{answer.answer}}</p>
                <p>Correct Color: <span style="color: {{answer.color}}">{{answer.color}}</span></p>
            </div>
            {% endfor %}
        {% endblock %}
    </div>

    
</body>
</html>