<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/answers.css">
    <title>Kahboom!</title>
</head>
<body>

    <div class="titleContainer">
        <p>Kahboom!</p>
        <p>Here are your answers:</p>
    </div>

    <div class="answersContainer">
        {% block content %}
            {% for answer in answers %}
            <div class="answer">
                <p>Question Number: {{answer.number}}</p>
                <p>Correct Answer: {{answer.answer}}</p>
                <p>Correct Color: <span style="color: {{answer.color}}">{{answer.color}}</span></p>
            </div>
            {% endfor %}
        {% endblock %}
    </div>

    
</body>
</html>