<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Kahboom!</title>
</head>
<body>
        <div class="titleContainer">
            <p>Kahboom!</p>
            <p>Choose an option to continue</p>
        </div>
        <div class="ButtonContainer">
            <button id="searchBtn" class="btn red">Answers by searching Quiz</button>    
            <button id="answersBtn" class="btn green">Answers with QuizID</button>    
        </div>
</body>
</html>