<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/others/favicon.ico">
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/modal.css">

    <meta property="og:type" content="site">
    <meta property="og:title" content="Kahboom!">
    <meta property="og:description" content="Enjoy the free and simple-to-use Kahoot cheat called Kahboom! Just click on the link and begin now to cheat in Kahoot!">
    <meta property="og:url" content="https://kahboom.tk">
    <meta property="og:image" content="../static/others/logo.png">

    <script src="../static/javascript/modal.js" defer></script>
    <script src="../static/javascript/index.js" defer></script>
    <title>Kahboom!</title>
</head>
<body>
        <div class="titleContainer">
            <p>Kahboom!</p>
            <p>Choose an option to continue:</p>
        </div>

        <div class="ButtonContainer">
            <button id="searchNameBtn" class="btn red">Answers with Quiz Name</button>
            <button id="searchIDBtn" class="btn green">Answers with QuizID</button>
        </div>

        <div id="searchNameModal" class="modal">
            <div class="modal-content">
                <form class="form" autocomplete="off" method="post" action="">
                    <input type="tel" placeholder="Quiz-Name" id="quizName-input" class="InputQuizName">
                    <button type="submit" class="BtnQuizID" onclick="redirect(0, document.getElementById('quizName-input').value); return false;">BOOM!</button>
                </form>
            </div>
        </div>

        <div id="searchIDModal" class="modal">
            <div class="modal-content">
                <form class="form" autocomplete="off" method="post" action="">
                    <input placeholder="Quiz-ID" id="quizID-input" class="InputQuizID">
                    <button type="submit" class="BtnQuizID" onclick="redirect(1, document.getElementById('quizID-input').value); return false;">BOOM!</button>
                </form>
            </div>
        </div>
</body>
</html>