<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/select.css">
    <title>Kahboom!</title>
</head>
<body>

    <div class="titleContainer">
        <p>Kahboom!</p>
        <p>Select the correct quiz:</p>
    </div>

    <div class="selectContainer">
        {% block content %}
            {% for s in selects %}
            <div class="select">
                <p>QuizID: {{s.id}}</p>
                <p>QuizName: {{s.name}}</p>
                <p>Creator: {{s.creator}}</p>
            </div>
            {% endfor %}
        {% endblock %}
    </div>

    
</body>
</html>