<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/others/favicon.ico">
    <link rel="stylesheet" href="../static/styles/select.css">

    <meta property="og:type" content="site">
    <meta property="og:title" content="Kahboom!">
    <meta property="og:description" content="Enjoy the free and simple-to-use Kahoot cheat called Kahboom! Just click on the link and begin now to cheat in Kahoot!">
    <meta property="og:url" content="https://kahboom.tk">
    <meta property="og:image" content="../static/others/logo.png">

    <script src="../static/javascript/select.js" defer></script>
    <title>Kahboom!</title>
</head>
<body>

    <div class="titleContainer">
        <p>Kahboom!</p>
        <p>Select the correct quiz:</p>
    </div>

    <div class="selectContainer">
        {% block content %}
            {% for s in selects %}
            <div class="select">
                <div class="QuizIDContainer">
                    <p>QuizID:</p>
                    <pre class="pre" onclick="copyToClipboard('{{s.id}}')">{{s.id}}</pre>
                </div>
                <p>QuizName: {{s.name}}</p>
                <p>Creator: {{s.creator}}</p>
                <button name="{{s.id}}" type="button" class="btn red">Select</button>
            </div>
            {% endfor %}
        {% endblock %}
    </div>

    
</body>
</html>